html , body{
    font-size: 15px;
    font-family:  "微软雅黑";
}
.wrap{
    width: 100%;
}
/*高度塌陷及外边距重叠*/
.clearfix::before,
.clearfix::after{
    content: '';
    display: table;
    clear: both;
} 
/** 顶部的灰色菜单 **/
.top-bar{
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 30px;
    background-color: #e7e7e7;
    z-index: 999;
}
.top-bar .top-bar2 {
    width: 900px;
    height: 30px;
    margin: 0 auto;
  }
  .time-bt{
    
  }
  #time , #con{
      line-height: 30px;
  }
/** 顶部导航菜单 **/
.top-dh{
    position: fixed;
    top: 30px;
    width: 100%;
    height: 45px;
    z-index: 999;
    border: 1px solid #c50505;
    background-color: #c50505;
}
.top-dh .top-dh2{
    width: 900px;
    height: 45px;
    margin: 0 auto;
    background-color: #c50505;
}
.top-dh .top-dh2 ul{
    display: flex;
    line-height: 45px;
    justify-content: space-between;
}

.top-dh .top-dh2 .nav-wz li > a{
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    height: 45px;
    padding: 0 10px 0 10px;
}
/** 顶部导航菜单移入效果 **/
.top-dh .top-dh2 .nav-wz li > a:hover{
    background-color:#FBEDED;
    color: #c50505; 
}

/** 中间盒 **/
.box{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    box-shadow: 0 1px 6px #ccc;
    margin-top: 85px;
    position: relative;
}
/** top返回顶部 **/
.top{
     position: fixed;
     top: 92%;
     left: 80%;
     width: 60px;
     z-index: 999;
     text-align: center;
     border-radius: 5px;
     background-color: tomato;
     width: 50px;
     height: 50px;
     line-height: 50px;
     text-align: center;
     cursor: pointer;
     opacity: .5; 
}
.top a{
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
}
.top .top-wz{
    color: white;
}
/** 搜索框 **/
.top-search{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box .box-hd .top-search .search{
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.box .box-hd .top-search .search {
    height: 30px;
    float: left;
    outline: none;
    border: none;
    border: 2px solid #ff6700;
}
.box .box-hd .top-search .search{
    border-right: none;
    padding: 10px;
    font-size: 20px;
}
.box .box-hd .top-search .cx{
    height: 54px;
    display: inline-block;
    line-height: 53px;
    padding: 0 18px;
    background-color: #fff;
    color: #000;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    border-color: #ff6700;
}

.box .box-hd .top-search .search:hover ,
.box .box-hd .top-search .search:hover + button {
    border-color:  #334DFF;
}
.box .box-hd .top-search .cx:hover{
    border-color:  #334DFF;
}

.box .box-hd .top-search .search:focus ,
.box .box-hd .top-search .search:focus + button {
    border-color:  #ff6700;
}

/** 公告框 **/
.box .notice{
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
    border: 1px solid #928f8f;
    clear:both;
    border-radius: 5px;
}
.box .notice .txt{
    padding: 5px;
}
.box .notice .gg{
    position: absolute;
    width: 5%;
    height: 20px;
    top: -50%;
    left: 50%;
    background-color: white;
    text-align: center;
    border-radius: 10px;

}
/** 产品框 **/
.box-bd {
    position: relative;
    z-index: 99;
}
.box-bd .cp-list{
    display: flex;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    flex-direction: row;
    flex-wrap: wrap;
    border: 2px solid red;
    border-radius: 10px;
    margin-top: 10px;
    justify-content: center;
    z-index: 9999;
}
.box-bd .cp-list li{
    margin-top: 5px;
}

/** 产品框移入效果 **/
.box-bd .cp-list li:hover {
    /* display: block; */
    background-color: #FF5722;
    border-radius: 10px;
    
}
.box-bd .cp-list li > a:hover{
    color: white;
}
/** 产品名称框字体 **/
.box-bd .cp-list li > a{
    font-size: 19px;
    line-height: 30px;
    text-decoration: none;
    font-weight: bold;
    color: #006DC9;
    padding: 10px;
}
/* .box-bd .cp-list li > a::after{
    content: '|';
    color: salmon;
    padding: 5px;
   
} */

/** 产品图片 **/
.box-ft a + img{
    width: 100%;
    box-shadow:0px 0px 8px #d9d9d9;
    z-index: 0;
}
.box-ft a + img:hover{
    border-radius: 5px;
    box-shadow:0px 0px 12px #3A3D3B;
}
/** 隐藏产品名 **/
.box-ft a.cp-name{
    opacity: 0;
    font-size: 1px;
    position: relative;
    bottom: 70px;
    z-index: 0;
}