
html , body{
    font-size: 15px;
    font-family:  "微软雅黑";
}
.wrap{
    width: 100%;
}
/*高度塌陷及外边距重叠*/
.clearfix::before,
.clearfix::after{
    content: '';
    display: table;
    clear: both;
} 
/** 顶部的灰色菜单 **/
.top-bar{
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 30px;
    background-color: #e7e7e7;
    z-index: 999;
}
.top-bar .top-bar2 {
    width: 900px;
    height: 30px;
    margin: 0 auto;
  }
  #time , #con{
    line-height: 30px;
}
  /** 顶部的灰色菜单文字 **/
  .top-bar .top-bar2 .time-bt  a{
    color:#0F51E9;
    line-height: 30px;
    padding-left: 10px;
    text-decoration: none;
  }
  .top-bar .top-bar2 .time-bt  a:hover{
      color: #EB4F31;
  }
  /** APP下载链接 **/
  .top-bar-left{
      float: right;
  }
/** 顶部导航菜单 **/
.top-dh{
    position: fixed;
    top: 30px;
    width: 100%;
    height: 45px;
    z-index: 999;
    border: 1px solid #c50505;
    background-color: #c50505;
}
.top-dh .top-dh2{
    width: 900px;
    height: 45px;
    margin: 0 auto;
    background-color: #c50505;
}
.top-dh .top-dh2 ul{
    display: flex;
    line-height: 45px;
    justify-content: space-between;
}

.top-dh .top-dh2 .nav-wz li > a{
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    height: 45px;
    padding: 0 10px 0 10px;
}
/** 顶部导航菜单移入效果 **/
.top-dh .top-dh2 .nav-wz li > a:hover{
    background-color:#FBEDED;
    color: #c50505; 
}

/** 中间盒 **/
.box{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    box-shadow: 0 1px 6px #ccc;
    margin-top: 85px;
    position: relative;
}
/** top返回顶部 **/
.top , .top a{
    width:50px;
	height:50px;
	background:rgb(202, 91, 91);
	color:#fff;
	position:fixed;
	text-align:center;
	line-height:50px;
    top: 80%;
    left: 80%;
    opacity: .8; 
	text-decoration:none;
    display: none;
    border-radius: 5px;
    z-index: 9999;
}
.top a{
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    color: #000;
}
.top .top-wz{
    color: white;
}
/** 搜索框 **/
.top-search{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box .box-hd .top-search .search{
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.box .box-hd .top-search .search {
    height: 30px;
    float: left;
    outline: none;
    border: none;
    border: 2px solid #ff6700;
}
.box .box-hd .top-search .search{
    border-right: none;
    padding: 10px;
    font-size: 20px;
}
.box .box-hd .top-search .cx{
    height: 50px;
    display: inline-block;
    line-height: 54px;
    padding: 0 14px;
    color: #000;
    white-space: nowrap;
    font-size: 14px;
    cursor: pointer;
    border:2px solid #ff6700;
    text-decoration: none;

}

.box .box-hd .top-search .search:hover ,
.box .box-hd .top-search .search:hover + a {
    border-color:  #334DFF;
}
.box .box-hd .top-search .cx:hover{
    background-color: #f4914f;
    color: white;
   border-color:  #e68b6f;
}


/** 公告框 **/
.box .notice{
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
    border: 1px solid #928f8f;
    clear:both;
    border-radius: 5px;
}
.box .notice .txt{
    padding: 5px;
}
/** TOP公告框 **/
.box .notice .gg  {
    position: absolute;
    width: 5%;
    height: 20px;
    top: -50%;
    left: 50%;
    background-color: white;
    text-align: center;
    border-radius: 10px;
}
.gg .gg-wz{
    text-decoration: none;
    color: #000;
}
/** 产品框 **/
.box-bd {
    position: relative;
    z-index: 99;
}
.box-bd .cp-list{
    display: flex;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    flex-direction: row;
    flex-wrap: wrap;
    border: 2px solid red;
    border-radius: 10px;
    margin-top: 10px;
    justify-content: center;
    z-index: 9999;
}
.box-bd .cp-list li{
    margin-top: 5px;
    margin-left: 1px;
    border-radius: 5px;
}

/** 产品框移入效果 **/
.box-bd .cp-list li:hover {
    /* display: block; */
    background-color: #FF5722;
    border-radius: 10px; 
}
.box-bd .cp-list li > a:hover{
    color: white;
}
/** 产品名称框字体 **/
.box-bd .cp-list li > a{
    font-size: 19px;
    line-height: 30px;
    text-decoration: none;
    font-weight: bold;
    color: #006DC9;
    padding: 10px;
}
/** 给活动标识框字体单独增加颜色 **/
.box-bd .cp-list .cp-color{
    color:#039b81;
}
/* .box-bd .cp-list li > a::after{
    content: '|';
    color: salmon;
    padding: 5px;
   
} */

/** 产品图片 **/
.box-ft a + img , .cp-table{
    width: 100%;
    box-shadow:0px 0px 8px #d9d9d9;
    z-index: 0;
}
.box-ft a + img:hover , .cp-table:hover{
    border-radius: 5px;
    box-shadow:0px 0px 12px #3A3D3B;
}
/** 标题定位的产品名**/
.box-ft a{
    opacity: 0;
    font-size: 1px;
    position: relative;
    bottom: 45px;
    z-index: 0;
}
/** 产品表格框 **/
.cp-table{
    width: 100%;
    border-collapse:collapse;
    
}
/** 产品表标题 **/
.cp-table tbody th{
    text-align:center;
    font-size: 20px;
    font-weight: bold;
}
/** 产品表副标题 **/
.cp-table .column{
    font-size: 1.1rem;
    font-weight: bold;
    text-align:center;
    width: 20%;
    vertical-align: middle;
}
/** 产品表各元素 **/
table, td, th{
    border:1px solid #d9d9d9;
    padding: 10px;
  }
  /* * 产品表内容 * */
  .cp-table .column-nr{
      font-size: 0.9rem;
      padding-left: 20px;
      
  }
  .cp-table .column-gjz{
    color: tomato;
  }

   /*  页面底部  */
.foot{
    margin-top: 40px;
    width: 100%;
    background-color:#2e2f33;
}
.foot .foot-zj {
    width: 900px;
    margin: 0 auto;
    text-align: center;
    background-color: #2e2f33;
}
/*  页面底部文字  */
.foot .foot-zj span,
.foot .foot-zj span > a{
    color: #6f6f72;
    text-decoration: none;
    font-size: 0.7rem;
    line-height: 50px;
}
.foot .foot-zj span{
    padding-left: 20px;
}
 /* 弹出框样式  */
 /* .gg-content{
    position: absolute;
    top: 200px;
    left: 250px;
    margin: 0 auto;
    width: 450px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 1px 1px 50px rgba(0,0,0,.3);
    padding: 10px;
    display: none;
    z-index: 9999;
}
.gg-content .gg-k{
    height: 20px;
    padding: 5px;
    cursor: pointer;
    font-size: 14px;
    color: white;
    border-radius: 5px;
    text-align: center;
    line-height: 20px;
    background-color: rgb(223, 75, 30);
    margin-top: 20px;
} */

/* TOP导航下拉菜单 行销操作手册  */
.nav-list , .down-wc{
    position: relative;
}
.nav-list:hover .nav-more{/* hover>nav-list,旋转倒三角  */
    transform: rotate(180deg);
    top: 15px;
}
.nav-list:hover .nav-top-list{
    display: block;
}
.nav-list .nav-top-list{
    margin-top: 3px;
    line-height: 35px;
    box-shadow: 0 2px 4px rgba(0,0,0,.12);
    border: 1px solid #d2d2d2;
    background-color: #fff;
    z-index: 100;
    display: none;
    border-radius: 5px;
    white-space: nowrap;
    z-index: 9999;
}
.nav-list .nav-top-list dd{
    text-align: center;
    border-bottom: 1px solid rgb(219, 213, 213);
}
.nav-list .nav-top-list dd:hover ,
.nav-list .nav-top-list dd > a:hover{
    background-color: #009688;
    color: white;
}
.nav-list .nav-top-list dd > a{
    display: block;
    text-decoration: none;
    color: #000;
    height: 35px;
}

/* TOP导航下拉菜单 APP二维码  */
/* .top-color a:nth-child(2)  {
    color: crimson;
} */
/* TOP导航下拉菜单 APP文字颜色  */
.nav-list .top-color .msg-color{
    color: #2F68D5;
}
.nav-list .top-color .wxx-color{
    color:#E74C2E;
}
.nav-list .top-color .fxd-color{
    color:#F0A200;
}
.nav-list .top-color .zwt-color{
    color:#0045F0;
}
/* TOP导航下拉菜单倒三角  */
.nav-more{
    content: '';
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-color: #C50505;
    cursor: pointer;
    transition: all .2s;
    -webkit-transition: all .2s;
    position: absolute;
    left: 100%;
    top: 20px;
    border-width: 7px;
    border-top-color: #fff;
    z-index: 99999;
}

/* 给最后2个产品标题添加更新背景  */
.bs-list li:last-child ,  /* 最后1个元素 */
.bs-list li:nth-last-child(2){  /* 倒数第2个元素 */
    background-color: yellow;
}
/* 活动表格  */
table.cp-table{
    border-collapse: collapse;
    color: #000;
    width: 100%;
}
table.cp-table th{
    width:20%;
    text-align: center;
}		
table.cp-table td,th{
    padding: 10px;
    min-height: 20px;
    line-height: 20px;
    font-size: 14px;
    border-width: 1px;
    border-style: solid;
    border-color: #e6e6e6;
}